.idea/
.vscode/
**/.DS_Store
.DS_Store
*.sw*
assets/css/*.scss
assets/css/dist/*.css
assets/dist
dist

!assets/css/dist/*.min.css
!assets/css/dist/locomotive-scroll.css
!assets/logo
!assets/fonts
!assets/favicon
!assets/js
