.idea/
.vscode/
*.sw*
assets/css/*.scss
assets/css/*.less
assets/css/dist/*.css
assets/css/dist/*.min.css.map
!assets/css/dist/*.min.css
!assets/css/dist/_snippet-mobile-nav.min.css
!assets/css/dist/locomotive-scroll.css
!assets/logo
!assets/fonts
!assets/favicon
!assets/js
assets/dist
dist
**/.DS_Store
.DS_Store
